.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 32px;
    flex-direction: row;
    position: fixed;
    flex-wrap: wrap;
}

.item-1-img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.item-1 {
    width: 800px;
}

.item-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item-text {
    border-bottom: 1px solid rgba(177, 148, 114, 0.32);
    max-width: 393px;
}

.btn {
    font-family: 'Phl';
    margin-top: 32px;
    outline: none;
    border: none;
    padding: 16px 32px;
    gap: 5px;
    color: var(--white);
    background: #181511;
    box-shadow: 0px 3px 12px rgb(24 21 17 / 25%);
    border-radius: 32px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.pp {
    text-decoration: none;
    color: #969696;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}


/*MOBILE*/
@media (max-width: 426px) {

    .container {
        flex-direction: column-reverse;
    }

    .item-1-img {
        width: 100vh;
        height: 58vh;
        
    }

    .item-text {
        border-bottom: 0px;
        width: auto;
    }

    .item-2 {
        margin: 0px 16px;
    }

    .btn {
        position: absolute;
        bottom: 16px;
        margin: 0px 44px;
    }

    .pp {
        margin-left: 25%;
    }
}

/*TABLET*/
@media (max-width:769px) {
    .item-1{
        width: 40%;
    }
    .item-text {
        width: 305px;
     }
}


@media (max-width: 1024px) {
    .item-1 {
        width: 55%;
    }
}