:root {
  --dark-brown-1: #181511;
  --dark-brown-2: #3B2F23;
  --middle-coffee: #B19472;
  --light-coffee: #E6D5B7;
  --white: #FEFEF9;
  --mirror: rgba(230, 213, 183, 0.25);

  --cards-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

  --ff: TNR;  
  --ff-Pholosopher: Phl;

  --fs-b: 16px;
  --fs-h1: 24px;

}

@font-face {
  font-family: "TNR";
  src: url("./resources/TNR.ttf") format("truetype");
}

@font-face {
  font-family: "Phl";
  src: url("./resources/Philosopher-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Arsenal';
  src: url ("./resources/arsenal-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 !important;
  color: var(--dark-brown-1);
  background-color: var(--white);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100vh;

}

h1 {
  font-size: var(--fs-h1);
  font-family: "Phl";
  font-style: bold;
  letter-spacing: -0.065em;
  width: 800px;
  font-size: 32px;

}

h2{
  font-size: var(--fs-b);
  font-family: "Arsenal";
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.025em;

}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

@media (max-width: 768px) {
  h1{
      font-size: 24px;
  }

  .item-2{
      margin: 0px 16px;
  }
}